<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwConfigExceptions="true">
    
    <variable name="logFileDirectory" value="/tmp/${shortdate}"/>

    <targets>
        <!-- CONSOLE -->
        <target name="logconsole" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${threadid} | ${message} | ${exception:format=tostring}"/>
        <!-- PLAIN TEXT LOG FILE -->
        <target name="logfile" xsi:type="File" fileName="${logFileDirectory}/app-log.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${threadid} | ${message} | ${exception:format=tostring}"/>
        <!-- JSON LOG FILE -->
        <target name="logjsonfile" xsi:type="File" fileName="${logFileDirectory}/app-log.json">
            <layout xsi:type="JsonLayout" indentJson="true">
                <attribute name="time" layout="${longdate}"/>
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="class" layout="${logger}"/>
                <attribute name="message" layout="${message}"/>
            </layout>
        </target>
        <!-- DATABASE -->
        <target xsi:type="Database"
                name="logdatabase"
                dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
                connectionString="server=tcp:127.0.0.1,1433;initial catalog=TodoList;user id=todo_user;password=Passw0rd!23;Encrypt=False"
                keepConnection="true"
                isolationLevel="ReadCommitted"
                commandType="Text">
            
            <commandText>
                insert into dbo.Log (
                MachineName, Logged, Level, Message,
                Logger, Exception
                ) values (
                @MachineName, @Logged, @Level, @Message,
                @Logger, @Exception
                );
            </commandText>
            
            <parameter name="@MachineName" layout="${machinename}" />
            <parameter name="@Logged" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
        <logger name="*" minlevel="Info" writeTo="logjsonfile"/>
        <logger name="*" minlevel="Error" writeTo="logdatabase"/>
    </rules>
</nlog>
